@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Montserrat', serif; 
    }
    h1 {
        font-family: 'Bebas Neue', sans-serif; 
    }
    h2 {
        font-family: 'Bebas Neue', sans-serif;
    }
    .knap{
        font-family: 'Montserrat', serif;
    }
    .indhold{
        font-family: 'Bebas Neue', sans-serif;
    }
}